:host ::ng-deep .p-toolbar {
  background: var(--primary-color) !important;
  border-color: var(--primary-color);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

p-toolbar p {
  font-weight: 900;
  color: white;
}

