<div class="container">
  <img
    src="../../../assets/images/Location Map.png"
    alt="Location"
    class="img-location"
  />

  <p-floatLabel>
    <input
      [ngClass]="{ 'ng-invalid ng-dirty': isInvalid }"
      pInputText
      #cepInput
      id="CEP"
      autocomplete="off"
      required
      maxlength="8"
      appCep
      (keyup.enter)="searchCep(cepInput.value)"
    />
    <label for="CEP">CEP</label>
  </p-floatLabel>

  <p-button
    label="Procurar"
    icon="pi pi-search"
    iconPos="right"
    [raised]="true"
    (click)="searchCep(cepInput.value)"
  />
</div>
