/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

:root {
  --primary-color: #0C4568;
  --secondary-color: #5ABFAD;
}
html,
body {
  width: 100%;
  height: 100vh;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;

  height: calc(100vh - 94px);
}

.container .p-button {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
